.containerLogOut {
  display: flex;
  align-items: center;
  column-gap: 12px;
  margin-left: auto;
  margin-right: 20px;
}

.button {
  cursor: pointer;
  font-size: 18px;

  color: #000;
  background-color: #ffffff;
  border-radius: 20px;
  border: none;
}
.button:hover,
.button:focus {
  color: #fff;
  background-color: #2e1daa;
}
